@use '../abstracts' as *;
@use '../base' as *;

$main-margin-spacing: crem(120px) auto;

.main > .section-insta-shop{
    margin: crem(100px) auto;
}

.main > section:not(.section-insta-shop){
    margin: $main-margin-spacing;
}

