@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
.title--jost-13 {
  font-family: "Jost", sans-serif;
  font-size: 0.813rem;
}

.description--lato-14, .link, .button {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}

.description, .input {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.price {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.title, .title--jost-20 {
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
}

.title--jost-30, .button--jost-30 {
  font-family: "Jost", sans-serif;
  font-size: 1.875rem;
}

.title--jost-33 {
  font-family: "Jost", sans-serif;
  font-size: 2.063rem;
}

.description--lato-34 {
  font-family: "Lato", sans-serif;
  font-size: 2.125rem;
}

.price--bigger {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}

.title--jost-83 {
  font-family: "Jost", sans-serif;
  font-size: 5.188rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --foreground-color: #272727;
  --background-color: #fff;
  --for-bg-secondary-color: #72AEC8;
  --background-third-color:#EDF1F3;
  --link-color: var(--foreground-color);
  --link-secondary-color: var(--for-bg-secondary-color);
  --link-selected-color: var(--for-bg-secondary-color);
  --button-color: var(--foreground-color);
  --button-bg-color: var(--background-color);
  --button-color-sec: var(--background-color);
  --button-bg-color-sec: var(--foreground-color);
  --button-color-third: #fff;
  --button-bg-color-third: var(--for-bg-secondary-color);
  --button-color-fourth: var(--for-bg-secondary-color);
  --button-bg-color-fourth: var(--background-color);
  --badge-color: var(--foreground-color);
  --badge-color-sec: var(--for-bg-secondary-color);
  --badge-color-third: #D7DDDF;
  --badge-color-fixed: #fff;
  --wrapper-cart-body-bg-color: var(--background-color);
  --input-color: var(--foreground-color);
  --input-bg-color: var(--background-color);
  --title-color: var(--foreground-color);
  --title-color-secondary: var(--background-color);
  --description-color: var(--foreground-color);
  --description-color-secondary: var(--background-color);
  --section-tagline-bg-color:var(--background-third-color);
  --section-seasonal-offers-bg-color:var(--background-third-color);
  --section-page-information-card-bg-color:var(--background-third-color);
  --section-subscribe-bg-color: var(--foreground-color);
  --footer-inside-border: #D0D0D0;
  --checkout-cart-border-color:#CDCDCD;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-color: #000000;
    --for-bg-secondary-color: #72AEC8;
    --link-color: var(--foreground-color);
    --link-selected-color: var(--for-bg-secondary-color);
    --button-color: var(--foreground-color);
    --button-bg-color: var(--background-color);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

.input-dev-helper {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hide-title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section-tagline, .section-insta-shop, .section-quotes, .section-subscribe, .main, .footer, .footer__navigation, .footer__section-secondary-information-payment-delivery, .header, .header-navigation__list-toolbar {
  margin-left: auto;
  margin-right: auto;
}

.text-opacity-0-4 {
  opacity: 0.4;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  text-align: center;
  cursor: pointer;
}
.button--border-sm {
  border: 0.063rem solid #EEEEEE;
}
.button--padding-sm {
  padding: 1em;
}
.button--padding-sm-tp-1 {
  padding: 0.6875em 1.1875em;
}
.button--padding-sm-tp-2 {
  padding: 0.5em 1.875em;
}
.button--padding-bigger {
  padding: 1em 2.5em;
}
.button--padding-bigger-tp-1 {
  padding: 1.17em 2.5em;
}
.button--padding-lrg {
  padding: 1em 3.125em;
}
.button--no-padding {
  padding: 0;
}
.button--secondary-color {
  color: var(--button-color-sec);
  background-color: var(--button-bg-color-sec);
}
.button--third-color {
  color: var(--button-color-third);
  background-color: var(--button-bg-color-third);
}
.button--fourth-color {
  color: var(--button-color-fourth);
  background-color: var(--button-bg-color-fourth);
}
.button--selected {
  text-decoration: underline;
}

.title {
  color: var(--title-color);
}
.title--select {
  text-decoration: underline;
}
.title--secondary-color {
  color: var(--title-color-secondary);
}

.link {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
  padding: 0.714em;
  cursor: pointer;
}
.link--selected {
  color: var(--link-selected-color);
}
.link--without-padding {
  padding: 0;
}
.link--ellipsis-border {
  border-bottom: 0.071em dotted var(--link-color);
}
.link--underline-border {
  border-bottom: 0.071em solid var(--link-color);
}
.link--underline-border-secondary-color {
  border-color: var(--link-secondary-color);
}
.link--not-active {
  pointer-events: none;
  cursor: not-allowed;
}

.list--horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2.75rem;
}

.badge {
  color: var(--badge-color);
}
.badge--large {
  font-size: 2.125rem;
  font-weight: 200;
}
.badge--secondary-color {
  color: var(--badge-color-sec);
}
.badge--third-color {
  color: var(--badge-color-third);
}
.badge--bigger {
  font-size: 2.125rem;
}
.badge--large {
  font-size: 5.188rem;
  font-weight: 900;
}
.badge--fixed-color {
  color: var(--badge-color-fixed);
}

.price {
  color: var(--for-bg-secondary-color);
}
.product-switcher-bar {
  display: inline-block;
  text-decoration: none;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 50%;
  background-color: var(--for-bg-secondary-color);
  color: var(--for-bg-secondary-color);
  opacity: 0.3;
  transition: 500ms;
  z-index: 0;
}

.input {
  padding: 1.25em 1.25em;
  max-width: 40em;
  color: var(--input-color);
  background-color: var(--input-bg-color);
  border: 0.063rem solid #EEEEEE;
}
.input--padding-secondary {
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  padding-left: 1.875em;
  padding-right: 1.875em;
}
.input--padding-third {
  padding: 0.625em 1.875em;
}
.input--shorter {
  max-width: 20.5em;
}
.input--full-width {
  width: 100%;
}

.description {
  color: var(--description-color);
}
.description--secondary-color {
  color: var(--description-color-secondary);
}
.hover-insta-shop {
  position: relative;
}

.hover-insta-shop:hover .wrapper-insta-hover-background {
  display: block;
  cursor: pointer;
}

.wrapper-insta-hover-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.wrapper-insta-hover-background__wrapper-insta-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-footer-icon:hover {
  color: var(--badge-color-sec);
}

.product-switcher-bar:hover {
  opacity: 1;
}

.wrapper-selling-item-image:hover > .wrapper-selling-item-image__button {
  display: block;
}

.wrapper-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
}

.wrapper-count {
  padding: 0 1.875em;
}

.wrapper-comment-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}
.wrapper-comment-card__image {
  display: block;
  max-width: 6.563rem;
}

.wrapper-user-comment {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0.313rem;
}

.wrapper-functional-option {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  color: #fff;
  background-color: #66d12d;
}

.wrapper-functional-option > label {
  text-align: center;
}

.header {
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.header__item-links-main {
  position: relative;
}

.item-links-main__list-links-extra {
  display: none;
  position: absolute;
}

#switcher-extra-links-list:checked ~ .item-links-main__list-links-extra {
  display: block;
}

.item-links-main__link[href*="./about.html"],
.item-links-main__link[href*="./blogs.html"],
.item-links-main__link[href*="./contact.html"] {
  display: none;
}

.list-toolbar__item-toolbar {
  display: none;
  position: relative;
}

.list-toolbar__item-toolbar-mobile-main {
  text-align: center;
  position: relative;
}

.list-toolbar-mobile {
  display: none;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 100%);
}

#switcher-toolbar-mobile:checked ~ .list-toolbar-mobile {
  display: block;
}

.wrapper-cart-overlay {
  display: none;
}

.list-toolbar__item-toolbar-tablet {
  display: none;
}

@media only screen and (min-width: 61.8125em) {
  .item-links-main__link[href*="./about.html"],
  .item-links-main__link[href*="./blogs.html"],
  .item-links-main__link[href*="./contact.html"] {
    display: block;
  }
  .item-links-extra__link[href*="./about.html"],
  .item-links-extra__link[href*="./blogs.html"],
  .item-links-extra__link[href*="./contact.html"] {
    display: none;
  }
  .list-toolbar__item-toolbar-mobile-main {
    display: none;
  }
  .list-toolbar__item-toolbar {
    display: block;
  }
  .list-toolbar__item-toolbar-tablet {
    display: block;
  }
  .cart {
    display: none;
  }
}
@media only screen and (min-width: 78em) {
  .header-navigation {
    margin-left: auto;
    gap: 7.5rem;
  }
  .list-toolbar__item-toolbar-tablet {
    display: none;
  }
  .cart {
    display: block;
  }
  #cart-overlay:checked ~ .wrapper-cart-body > .wrapper-cart-overlay {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 50vw;
    max-width: 114.375rem;
    position: absolute;
    bottom: -100%;
    left: 100%;
    transform: translate(-100%, 100%);
  }
}
.footer {
  max-width: 120rem;
}
.footer__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
  gap: 2rem;
  max-width: 81.25rem;
  padding-bottom: 5rem;
}
.footer__section-footer-main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.571em;
}
.footer__section-secondary-information-payment-delivery {
  padding: 1.5rem 0;
  border-top: 0.063rem solid var(--footer-inside-border);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2.875rem;
}

.section-store-short-description__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.875rem;
}

.section-footer-main-content__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.571em;
}

.wrapper-details-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.313rem;
}
.wrapper-details-info__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.313rem;
}
.wrapper-details-info__item {
  max-width: 3.125rem;
}

.wrapper-copyright-and-web-desighner-info {
  margin-left: auto;
}

@media only screen and (max-width: 41.5625em) {
  .footer {
    padding: 2em;
  }
  .footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    text-align: center;
  }
  .footer__section-footer-main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.571em;
  }
}
@media only screen and (min-width: 78em) {
  .footer__section-secondary-information-payment-delivery {
    padding: 1.5rem 19.438rem;
  }
}
.main > .section-insta-shop {
  margin: 6.25rem auto;
}

.main > section:not(.section-insta-shop) {
  margin: 7.5rem auto;
}

.main {
  max-width: 120rem;
}

.section-cart {
  max-width: 81.25rem;
}

.wrapper-cart-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wrapper-cart-overlay {
  display: none;
  background-color: var(--wrapper-cart-body-bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5%;
  padding: 3em;
  z-index: 999;
}

.wrapper-cart-titles {
  display: grid;
  grid-template-columns: 40% 20% 25%;
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
  gap: 0;
}

.wrapper-cart-titles__title-product:nth-of-type(1) {
  margin-right: auto;
}

.wrapper-cart-body__list {
  margin-top: 1.875rem;
  margin-bottom: 5rem;
}

.wrapper-cart-body__item {
  display: grid;
  grid-template-columns: 40% 20% 25% 15%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: unset;
  gap: 0;
  padding: 1.25rem 0;
  border-top: 0.063rem solid #CDCDCD;
}
.wrapper-cart-body__item > .wrapper-counter {
  justify-content: center;
}

.wrapper-cart-body__item:last-of-type {
  border-bottom: 0.063rem solid #CDCDCD;
}

.wrapper-product-short-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.938rem;
}

.wrapper-product-short-description__image {
  max-width: 5rem;
}

.wrapper-select-product-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.wrapper-delete-position {
  text-align: right;
}

.wrapper-subtotal-product-price {
  text-align: center;
}

.wrapper-sub-total-price {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 0;
  padding: 1.25rem 0;
  border-top: 0.063rem solid #CDCDCD;
}

.wrapper-total-price {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 0;
  padding: 1.25rem 0;
  margin-bottom: 1.875rem;
  border-top: 0.063rem solid #CDCDCD;
  border-bottom: 0.063rem solid #CDCDCD;
}

.wrapper-cart-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.section-scrolling-bar-products {
  max-width: 81.25rem;
  margin: 7.5rem auto;
}
.section-scrolling-bar-products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 3.125rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.section-scrolling-bar-products__list::-webkit-scrollbar {
  display: none;
}
.section-scrolling-bar-products__item {
  min-width: calc(25% - 1rem);
}
.section-scrolling-bar-products__image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.625rem;
}

.wrapper-title-scroll-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 1.875rem;
}

.wrapper-product-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.wrapper-switcher-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.section-subscribe {
  background-color: var(--section-subscribe-bg-color);
  padding: 5rem 6.875rem;
  max-width: 81.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 1em;
}
@media only screen and (max-width: 61.75em) {
  .section-subscribe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 1em;
  }
}
@media only screen and (max-width: 41.5625em) {
  .section-subscribe {
    padding: 3.75rem 3.75rem;
  }
  .section-subscribe .wrapper-feedback-form__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.wrapper-feedback-form__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.section-quotes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 0;
  max-width: 81.25rem;
}
.section-quotes__item {
  text-align: center;
}

.wrapper-quotes-icon {
  grid-column: span 3;
}

.wrapper-left-switch-button-quotes {
  justify-self: end;
}

.wrapper-right-switch-button-quotes {
  justify-self: start;
}

.section-quotes__description {
  font-size: clamp(0.5rem, 2.125rem, 4vw);
}

.section-insta-shop {
  max-width: 81.25rem;
}
.section-insta-shop__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.section-insta-shop__item {
  width: 100%;
  position: relative;
}
.section-insta-shop__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-title-insta-shop__title {
  text-align: center;
  margin-bottom: 1.875rem;
}

@media only screen and (max-width: 61.75em) {
  .section-insta-shop {
    padding: 2rem;
  }
  .section-insta-shop__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: start;
    gap: 1rem;
  }
  .section-insta-shop__item:last-of-type {
    grid-column: span 2;
  }
}
.section-our-company-advantages {
  max-width: 81.25rem;
}
.section-our-company-advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 2em;
}
@media only screen and (max-width: 61.75em) {
  .section-our-company-advantages__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
.section-our-company-advantages__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: center;
  gap: 1em;
}

.section-page-information-card {
  width: 100%;
  background-color: var(--section-page-information-card-bg-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 5em 0;
}

.section-switcher-type-selling-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0.625em;
}
.section-switcher-type-selling-items__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0.5em;
}

.section-selling-item-overview {
  max-width: 81.25rem;
}

.section-selling-item-main-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: stretch;
  gap: 1.25rem;
  margin-bottom: 7.5rem;
}
@media only screen and (max-width: 61.75em) {
  .section-selling-item-main-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34.375rem;
    align-items: start;
    justify-items: stretch;
    gap: 1.25rem;
  }
}

.wrapper-selected-option-image {
  width: 100%;
  display: none;
  position: relative;
}

.wrapper-selected-option-image__image {
  max-width: 34.375rem;
  height: 34.375rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  animation: switch-image 1s linear;
}
@media only screen and (max-width: 61.75em) {
  .wrapper-selected-option-image__image {
    border-radius: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes switch-image {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
#watch-pink-color:checked ~ .wrapper-optional-images > .watch-pink {
  display: block;
}

#watch-green-color:checked ~ .wrapper-optional-images > .watch-green {
  display: block;
}

#watch-blue-color:checked ~ .wrapper-optional-images > .watch-blue {
  display: block;
}

#watch-black-color:checked ~ .wrapper-optional-images > .watch-black {
  display: block;
}

.wrapper-product-main-description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 1.25rem;
}
@media only screen and (max-width: 61.75em) {
  .wrapper-product-main-description {
    align-items: center;
  }
}

.wrapper-choose-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 1.25rem;
}
@media only screen and (max-width: 61.75em) {
  .wrapper-choose-options {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;
  }
}

.section-selling-item-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.section-selling-item-options__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
}

.section-selling-item-detailed-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0;
}

.wrapper-section-selling-item-detailed-information-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
@media only screen and (max-width: 41.5625em) {
  .wrapper-section-selling-item-detailed-information-buttons {
    flex-direction: column;
    gap: 0.625rem;
  }
}

#selling-item-description:checked ~ .wrapper-main-product-information > .wrapper-selling-product-description {
  display: flex;
  animation: appear-card 1.1s linear forwards;
}

#selling-item-additional-information:checked ~ .wrapper-main-product-information > .wrapper-selling-item-additional-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#selling-item-reviews:checked ~ .wrapper-main-product-information > .wrapper-selling-item-reviews-comments {
  display: block;
}

#selling-item-reviews:checked ~ .wrapper-main-product-information > .wrapper-selling-item-reviews-comments > .wrapper-comment-card {
  animation: appear-card 1.1s linear forwards;
}

@keyframes appear-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper-main-product-information {
  width: 100%;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0;
}

.wrapper-selling-product-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: center;
  gap: 3.125rem;
  display: none;
}

.wrapper-selling-item-additional-information {
  align-self: center;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 100%;
  border: 3px solid green;
  position: relative;
  display: none;
}

.wrapper-selling-item-additional-information__image {
  display: block;
  align-self: center;
  width: 50%;
  height: 50%;
  border-radius: 100%;
}

.wrapper-functional-option {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: option-zoom 1.2s linear forwards;
}

@keyframes option-zoom {
  0% {
    scale: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    scale: 1;
    transform: translate(-50%, -50%);
  }
}
.wrapper-functional-option:nth-of-type(1) {
  animation: fly-0-deg 1.2s linear forwards;
}

@keyframes fly-0-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-220%, -50%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(2) {
  animation: fly-45-deg 1.2s linear forwards;
}

@keyframes fly-45-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-170%, -170%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(3) {
  animation: fly-90-deg 1.2s linear forwards;
}

@keyframes fly-90-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -220%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(4) {
  animation: fly-135-deg 1.2s linear forwards;
}

@keyframes fly-135-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(70%, -170%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(5) {
  animation: fly-180-deg 1.2s linear forwards;
}

@keyframes fly-180-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(120%, -50%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(6) {
  animation: fly-225-deg 1.2s linear forwards;
}

@keyframes fly-225-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(70%, 70%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(7) {
  animation: fly-270-deg 1.2s linear forwards;
}

@keyframes fly-270-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 120%);
    opacity: 1;
  }
}
.wrapper-functional-option:nth-of-type(8) {
  animation: fly-315-deg 1.2s linear forwards;
}

@keyframes fly-315-deg {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-170%, 70%);
    opacity: 1;
  }
}
.wrapper-selling-item-reviews-comments {
  display: none;
}

.wrapper-selling-item-reviews-comments > .wrapper-comment-card {
  margin-top: 1.875rem;
}

.section-contacts {
  max-width: 81.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 1rem;
  row-gap: 7.5rem;
}
@media only screen and (max-width: 61.75em) {
  .section-contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: start;
    gap: 1rem;
  }
}

.wrapper-contact-part {
  justify-self: stretch;
}
.wrapper-contact-part__contact-part-header-container {
  margin-bottom: 1.875rem;
}
.wrapper-contact-part__list-main-contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 1rem;
}
.wrapper-contact-part__list-additional-contact-information {
  margin-top: 0.875rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0.625rem;
}
.wrapper-contact-part__form-contact-part {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 0;
  row-gap: 1.875rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.wrapper-contact-part__image {
  width: 100%;
  display: block;
}

.form-contact-part__input {
  grid-column: span 2;
}
.form-contact-part__input:nth-of-type(1) {
  grid-column: span 1;
}
.form-contact-part__input:nth-of-type(2) {
  grid-column: span 1;
}

.section-blogs-cards {
  max-width: 81.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}
.section-blogs-cards__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.wrapper-blogs-cards-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.section-seasonal-offers {
  width: 100%;
  background-color: var(--section-seasonal-offers-bg-color);
  padding: 13.75rem 26.25rem;
  position: relative;
}
@media only screen and (max-width: 61.75em) {
  .section-seasonal-offers {
    padding: 7.5rem 13.75rem;
  }
}
.section-seasonal-offers__title {
  font-size: clamp(10%, 10vw, 5.188rem);
}
.section-seasonal-offers__image {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(7%, 8%);
  opacity: 0.5;
}

.section-tagline {
  width: 100%;
  background: var(--section-tagline-bg-color);
  min-height: 37.5rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 0;
  padding: 0 4.375rem;
}
.section-tagline__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}
.section-tagline__title {
  font-size: clamp(10%, 10vw, 5.188rem);
}

.section-tagline .wrapper-right-switch-button-tagline__button,
.section-tagline .wrapper-left-switch-button-tagline__button {
  background-color: transparent;
}

.wrapper-right-switch-button-tagline {
  justify-self: end;
  z-index: 2;
}

.wrapper-tagline-image {
  position: relative;
}
@media only screen and (max-width: 61.75em) {
  .wrapper-tagline-image {
    display: none;
  }
}

.wrapper-tagline-image__apple-watch-image {
  position: absolute;
  bottom: -49%;
  right: -100%;
  transform: translate(100%, 49%);
}

.section-store-foundation {
  max-width: 81.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4.375rem;
}
@media only screen and (max-width: 61.75em) {
  .section-store-foundation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;
  }
}
.section-store-foundation__title {
  margin-bottom: 0.625rem;
}
.section-store-foundation__button {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 61.75em) {
  .section-store-foundation__video {
    width: 100%;
  }
}

.section-selling-items {
  max-width: 81.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 2.5rem;
}
.section-selling-items__main-selling-part {
  grid-column: span 3;
}
.section-selling-items__aside-selling-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
}

.wrapper-selling-items-header-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 1.25rem;
}

.main-selling-part__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 0;
  row-gap: 2.5rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  margin-bottom: 3.75rem;
}
@media only screen and (max-width: 61.75em) {
  .main-selling-part__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: start;
    gap: 0;
    row-gap: 2.5rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media only screen and (max-width: 41.5625em) {
  .main-selling-part__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: start;
    gap: 0;
    row-gap: 2.5rem;
  }
}
@media only screen and (max-width: 61.75em) {
  .main-selling-part__item:last-of-type {
    grid-column: span 2;
    justify-self: center;
  }
}
@media only screen and (max-width: 41.5625em) {
  .main-selling-part__item:last-of-type {
    grid-column: span 1;
    justify-self: start;
  }
}

.wrapper-selling-item-image {
  position: relative;
}
.wrapper-selling-item-image__image {
  width: 100%;
  display: block;
}
.wrapper-selling-item-image__button {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  white-space: nowrap;
}

.wrapper-selling-item-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-top: 0.625rem;
}

.wrapper-selling-items-switcher-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.wrapper-search-selling-items-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
}

.section-checkout {
  max-width: 81.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 0;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.wrapper-billing-details-form {
  justify-self: stretch;
  margin-bottom: 7.5rem;
}

.form-label {
  margin: 1.875rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
}

.wrapper-additional-information-form {
  justify-self: stretch;
}

.wrapper-checkout-cart-total {
  width: 100%;
  grid-column: span 2;
  border-bottom: 1px solid var(--checkout-cart-border-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: start;
  gap: 1.875rem;
}
.wrapper-checkout-cart-total__container-price {
  width: 100%;
  border-top: 1px solid var(--checkout-cart-border-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 0;
}

.form-payment-options {
  grid-column: span 2;
  margin: 1.875rem 0;
}

.form-label-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.938rem;
  margin: 1.25rem 0;
}/*# sourceMappingURL=main.css.map */