@mixin light-theme {
    --foreground-color: #272727;
    --background-color: #fff;
    --for-bg-secondary-color: #72AEC8;
    --background-third-color:#EDF1F3;


    --link-color: var(--foreground-color);
    --link-secondary-color: var(--for-bg-secondary-color);
    --link-selected-color: var(--for-bg-secondary-color);

    --button-color: var(--foreground-color);
    --button-bg-color: var(--background-color);
    --button-color-sec: var(--background-color);
    --button-bg-color-sec: var(--foreground-color);
    --button-color-third: #fff;
    --button-bg-color-third: var(--for-bg-secondary-color);
    --button-color-fourth: var(--for-bg-secondary-color);
    --button-bg-color-fourth: var(--background-color);


    --badge-color: var(--foreground-color);
    --badge-color-sec: var(--for-bg-secondary-color);
    --badge-color-third: #D7DDDF;
    --badge-color-fixed: #fff;

    --wrapper-cart-body-bg-color: var(--background-color);

    --input-color: var(--foreground-color);
    --input-bg-color: var(--background-color);

    --title-color: var(--foreground-color);
    --title-color-secondary: var(--background-color);

    --description-color: var(--foreground-color);
    --description-color-secondary: var(--background-color);

    --section-tagline-bg-color:var(--background-third-color);

    --section-seasonal-offers-bg-color:var(--background-third-color);

    --section-page-information-card-bg-color:var(--background-third-color);

    --section-subscribe-bg-color: var(--foreground-color);

    --footer-inside-border: #D0D0D0;

    
}