@use '../abstracts' as *;
@use '../base' as *;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

.badge {
    color: var(--badge-color);

    &--large {
        font-size: $lrg-34;
        font-weight: 200;
    }

    &--secondary-color {
        color: var(--badge-color-sec);
    }

    &--third-color {
        color: var(--badge-color-third);
    }

    &--bigger{
        font-size: crem(map_get($typography,lrg-34));
    }

    &--fixed-color {
        color: var(--badge-color-fixed);
    }

}