@use '../abstracts' as *;
@use '../base' as *;



.hover-insta-shop{
    position: relative;
}
.hover-insta-shop:hover .wrapper-insta-hover-background{
    display: block;
}

.wrapper-insta-hover-background{
    display: none;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &__wrapper-insta-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}