.product-switcher-bar{
    display: inline-block;
    text-decoration: none;
    width: crem(25px);
    height: crem(25px);
    border-radius: 50%;
    background-color: var(--for-bg-secondary-color);
    color: var(--for-bg-secondary-color);
}