@use '../abstracts' as *;
@use '../base' as *;

.title {
    @extend %jost-20;
    color: var(--title-color);

    &--jost-20{
        @extend %jost-20;
    }

    &--jost-30{
        @extend %jost-30;
    }
    &--jost-33{
        @extend %jost-33;
    }

    &--select{
        text-decoration: underline;
    }

    &--secondary-color{
        color: var(--title-color-secondary);
    }
}