@use '../themes' as *;
@use './typography' as *;

:root {
    @include light-theme;

    @media (prefers-color-scheme: dark) {
        @include dark-theme;
    }
}

body {
    font-family: $lato-tp;
    font-size: $sm-14;
    line-height: 1.5;
}